node-red-flow.json
[{"id":"5b7e4986.f92448","type":"tab","label":"WA - KITT","disabled":false,"info":""},{"id":"964b5443.f005e8","type":"switch","z":"5b7e4986.f92448","name":"KITT request","property":"payload.request","propertyType":"msg","rules":[{"t":"eq","v":"stores","vt":"str"},{"t":"eq","v":"aisles","vt":"str"},{"t":"eq","v":"hasLocation","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":290,"y":180,"wires":[["1022b2bd.e3ef0d"],["c6a9c379.a7fd9"],["642bbe45.b604b"],["663c3ad6.ebd7b4"]]},{"id":"9b5e61c4.2b6e6","type":"http response","z":"5b7e4986.f92448","name":"","statusCode":"","headers":{},"x":770,"y":700,"wires":[]},{"id":"d187be57.e8d91","type":"comment","z":"5b7e4986.f92448","name":"route request ","info":"","x":350,"y":120,"wires":[]},{"id":"7c2dfdc.f233904","type":"comment","z":"5b7e4986.f92448","name":"process request","info":"","x":320,"y":480,"wires":[]},{"id":"32f0f1ca.3905ce","type":"comment","z":"5b7e4986.f92448","name":"return response to Watson Assistant","info":"","x":400,"y":640,"wires":[]},{"id":"663c3ad6.ebd7b4","type":"change","z":"5b7e4986.f92448","name":"Error no query defined","rules":[{"t":"set","p":"payload.message","pt":"msg","to":"$join(['Error, no query defined for: ' , $.payload.request])","tot":"jsonata"},{"t":"set","p":"payload.result","pt":"msg","to":"error","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":300,"wires":[["17a86ed7.233971"]]},{"id":"77c9f074.9e0b6","type":"http in","z":"5b7e4986.f92448","name":"","url":"/wahandler","method":"post","upload":false,"swaggerDoc":"","x":100,"y":180,"wires":[["964b5443.f005e8"]]},{"id":"3799a523.879d5a","type":"http request","z":"5b7e4986.f92448","name":"get auth token","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":580,"y":380,"wires":[["56133a2c.178934"]]},{"id":"caf04709.3a7c58","type":"function","z":"5b7e4986.f92448","name":"store token","func":"msg.headers = {\n    Authorization: \"Bearer \" + msg.payload.token,\n    'Content-Type': 'text/yaml',\n    'Accept': 'text/yaml'\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":520,"wires":[["915b8520.81e078"]]},{"id":"895592e8.eec6f","type":"function","z":"5b7e4986.f92448","name":"prep auth request","func":"msg.headers = {};\nmsg.headers={\n  'Authorization': 'application/json',\n'Content-Type': 'application/json'\n};\n\nkitt_data = global.get(\"kitt_data\");\nmsg.payload={\n    \"id\":kitt_data.usr,\n    \"pwd\":kitt_data.pwd,\n    \"rememberMe\":false\n};\n        \nreturn msg","outputs":1,"noerr":0,"x":370,"y":380,"wires":[["3799a523.879d5a"]]},{"id":"56133a2c.178934","type":"json","z":"5b7e4986.f92448","name":"","property":"payload","action":"","pretty":false,"x":750,"y":380,"wires":[["caf04709.3a7c58"]]},{"id":"46d03d33.e72444","type":"http request","z":"5b7e4986.f92448","name":"query KITT","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":520,"wires":[["478226af.3ad158"]]},{"id":"478226af.3ad158","type":"yaml","z":"5b7e4986.f92448","property":"payload","name":"","x":690,"y":520,"wires":[["48470fbf.10d97"]]},{"id":"915b8520.81e078","type":"change","z":"5b7e4986.f92448","name":"prep query","rules":[{"t":"set","p":"url","pt":"msg","to":"$join([$globalContext(\"kitt_data.url\"),$globalContext(\"kitt_data.graph\")])","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"body","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":520,"wires":[["46d03d33.e72444"]]},{"id":"58a58417.dc87dc","type":"change","z":"5b7e4986.f92448","name":"prep auth request","rules":[{"t":"set","p":"url","pt":"msg","to":"kitt_data.loginurl","tot":"global"},{"t":"set","p":"request","pt":"msg","to":"payload.request","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":380,"wires":[["895592e8.eec6f"]]},{"id":"981c932.0cd067","type":"change","z":"5b7e4986.f92448","name":"initialize data","rules":[{"t":"set","p":"kitt_data","pt":"global","to":"{\"usr\":\"admin0\",\"pwd\":\"testadmin\",\"loginurl\":\"http://158.177.111.35:8080/api/v3/user/login\",\"url\":\"http://158.177.111.35:8080/api/v3/space/test/graph/\",\"graph\":\"Retail_Store\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":40,"wires":[[]]},{"id":"658f769c.3a8e58","type":"inject","z":"5b7e4986.f92448","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":40,"wires":[["981c932.0cd067"]]},{"id":"7faa2d57.59cb84","type":"change","z":"5b7e4986.f92448","name":"get stores","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[a='Store'].id","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":680,"wires":[["ce73d895.8c1518"]]},{"id":"ce73d895.8c1518","type":"function","z":"5b7e4986.f92448","name":"prep success result","func":"msg.payload = {    \n    result: \"success\",    \n    message: \"I found the following \"+ msg.request + \": \" + msg.payload,    \n    stores: msg.payload\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":700,"wires":[["9b5e61c4.2b6e6"]]},{"id":"1022b2bd.e3ef0d","type":"change","z":"5b7e4986.f92448","name":"get all instances","rules":[{"t":"set","p":"body","pt":"msg","to":"{\"instances\":{\"return\":[\"ALL\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":160,"wires":[["58a58417.dc87dc"]]},{"id":"48470fbf.10d97","type":"switch","z":"5b7e4986.f92448","name":"KITT request","property":"request","propertyType":"msg","rules":[{"t":"eq","v":"stores","vt":"str"},{"t":"eq","v":"aisles","vt":"str"},{"t":"eq","v":"hasLocation","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":130,"y":700,"wires":[["7faa2d57.59cb84"],["7d5850b.31b1eb"],["2f0ffe4.aa54d02"]]},{"id":"17a86ed7.233971","type":"http response","z":"5b7e4986.f92448","name":"","statusCode":"","headers":{},"x":750,"y":300,"wires":[]},{"id":"7d5850b.31b1eb","type":"change","z":"5b7e4986.f92448","name":"get aisles","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[a='Aisle' and out.hasLocation[0]=$globalContext(\"store\")].id","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":720,"wires":[["ce73d895.8c1518"]]},{"id":"642bbe45.b604b","type":"function","z":"5b7e4986.f92448","name":"what's in that location?","func":"msg.body = \n{\n    \"ireferences\": {\n        \"search\": {\n            \"a\": [\n                \"hasLocation\"\n            ],\n            \"tgt\": [\n                msg.payload.store\n            ]\n        },\n        \"return\": [\n            \"ALL\"\n        ]\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":220,"wires":[["58a58417.dc87dc"]]},{"id":"c6a9c379.a7fd9","type":"change","z":"5b7e4986.f92448","name":"save the store","rules":[{"t":"set","p":"store","pt":"global","to":"payload.store","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":180,"wires":[["1022b2bd.e3ef0d"]]},{"id":"2f0ffe4.aa54d02","type":"change","z":"5b7e4986.f92448","name":"get things in store","rules":[{"t":"set","p":"payload","pt":"msg","to":"$join(payload.src, ',')","tot":"jsonata"},{"t":"set","p":"store","pt":"msg","to":"store","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":760,"wires":[["be0d8fca.b2ab4"]]},{"id":"be0d8fca.b2ab4","type":"function","z":"5b7e4986.f92448","name":"prep success result","func":"msg.payload = {    \n    result: \"success\",    \n    message: \"I found the following things in \"+ msg.store + \": \" + msg.payload,    \n    stores: msg.payload\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":740,"wires":[["9b5e61c4.2b6e6"]]},{"id":"6732c8da.e1e118","type":"comment","z":"5b7e4986.f92448","name":"prep KITT query","info":"","x":540,"y":120,"wires":[]}]